<div class="jumbotron jumbotron-fluid mx-auto">
  <div class="container">
    <h1 class="display-4">Create New Question</h1><br>

    <%= render 'form' %><br>
    <%= link_to 'Back', surveys_path %>
  </div>
</div>
