<div class="jumbotron jumbotron-fluid mx-auto">
  <div class="container">
    <h1 class="display-4">Show All Surveys</h1><br>
    <table class="table table-dark">
        <thead>
            <th scope="col">Survey Id</th>
            <th scope="col">User UUID</th>
        </thead>
        <tbody>
            <% @survey_results.each do |survey_result| %>
                <tr>
                    <td><%= survey_result.survey_id %></td>
                    <td><%= survey_result.user_uuid %></td>
                </tr>
            <% end %>
        </tbody>
    </table><br>
  </div>
</div>