<h2>Show All User Results</h2><br>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">User UUID</th>
            <th class="mdl-data-table__cell--non-numeric">Total Time Spent on Phone</th>
        </tr>
    </thead>
    <tbody>
        <% @user_results.each do |user_result| %>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <%= link_to user_result[:user_uuid], user_results_for_user_path(user_result[:user_uuid]) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= user_result[:total_time_spent_on_phone] %></td>
        </tr>
        <% end %>
    </tbody>
</table><br>
<div>
    <%= button_to 'Show Surveys', surveys_path, :class => "mdl-button mdl-js-button mdl-button--accent", :method => :get %>
</div>