<!DOCTYPE html>
<html>
  <head>
    <title>PhoneUsageServer</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <%= yield %>
      </div>
      <div class="mdl-cell mdl-cell--3-col"></div>
    </div>
  </body>
</html>
