<!DOCTYPE html>
<html>

<head>
  <title>PhoneUsageServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
  </script>
  <%= csrf_meta_tags %>
</head>

<div class="center-component">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col"><br><br>
      <%= yield %>
    </div>
  </div>
</div>

</html>